<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}">

  {% include head.html %}

  <body>

    <div class="container">
      {% include header.html %}
      <div class="usa-grid">

        <aside class="usa-width-one-third usa-layout-docs-sidenav">
<ul class="usa-sidenav-list">  {% include sidebar.html %}      </ul>
        </aside>
        <main id="main" class="usa-width-two-thirds usa-layout-docs-main_content" role="main">
          {{ content }}
        </main>


      </div><!-- /.wrap content -->

      {% include footer.html %}

    </div> <!-- /.container -->

    {% include analytics.html %}
    {% include scripts.html %}
  </body>
</html>
